.slider {
  max-width: 400px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.slider div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.slider img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}

.play {
  text-align: center;
}
